ValtAoiTheBot/config.py
ValtAoiTheBot/*.session
ValtAoiTheBot/*.session-journal
ValtAoiTheBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
ValtAoiTheBot/modules/helper_funcs/temp.txt
ValtAoiTheBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
ValtAoi.session-journal
updates.txt
*.exe
